.carousel-img {
    width: 100%;
    height: 600px;
    /* Atur tinggi gambar sesuai kebutuhan */
    object-fit: cover;
    /* Biarkan gambar mengisi area dengan memotong jika perlu */
}

.carousel-img {
    transition: transform 0.3s ease;
}

.carousel-img:hover {
    transform: scale(1.1);
}

/* Efek hover untuk gambar di galeri */
.img-hover-zoom {
    transition: transform 0.3s ease;
}

.img-hover-zoom:hover {
    transform: scale(1.05);
    /* Ubah nilai scale sesuai dengan kebutuhan */
}